@font-face {
    font-family: Aleo;
    src: url(../fonts/Aleo/Aleo-Bold.ttf) format('truetype');
    font-display: swap;
}


@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Bold.ttf) format('truetype');
    font-display: swap;
}