@font-face {
    font-family: Aleo;
    src: url(../fonts/Aleo/Aleo-Bold.ttf) format('truetype');
}


@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Medium.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Thin.ttf) format('truetype');
    font-style: normal;
    font-weight: lighter;
}