@import url("../fontawesome/css/regular.css");
@import url("../fontawesome/css/solid.css");

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}


/* NAVIGATION ICONS */
.fa-regular a::before{
  font: var(--fa-font-regular)
}
.fa-solid a::before{
  font: var(--fa-font-solid)
}
.nav-icon a::before{
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}


.fa-user a::before{
  content: "\f007";
}

.fa-cart a::before{
  content: "\f07a";
}
